<div class="main-container">
  <h2>{{ showDetails.name }}</h2>
  <img src="{{ showDetails.image.medium }}" />
  <p>{{ showDetails.summary }}</p>
  <p>Language: {{ showDetails.language }}</p>
  <p>Genres: {{ showDetails.genres }}</p>
  <p>Status: {{ showDetails.status }}</p>
  <p>Premiered: {{ showDetails.premiered }}</p>
  <p>Official site: {{ showDetails.officialSite }} /p></p>
</div>

<div class="cast-container">
  <h2>Cast</h2>
  <ul>
    <li *ngFor="let c of cast">
      <p>{{ c.person.name }}</p>
    </li>
  </ul>
</div>
<div class="episode-container">
  <h2>Episodes</h2>
  <ul>
    <li *ngFor="let e of episodes">
      <p>S{{ e.season }}E{{ e.number }} - {{ e.name }}</p>
    </li>
  </ul>
</div>
