/* You can add global styles to this file, and also import other style files */
/* Light mode styles */
body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

/* Night mode styles */
body.night-mode {
  background-color: #333;
  color: #fff;
}
